{
    "presets": [
        "react",
        [
            "env",
            {
                "target":{
                    "browsers":["> 0.1%"]
                }
            }
        ]
    ],
    "env": {
        "development": {
            "presets": [
                "react-hmre"
            ]
        }
    },
    "plugins": [
        "transform-class-properties",
        [
            "import",
            {
                "libraryName": "antd-mobile",
                "style": true
            }
        ]
    ]
}