{
    "presets": [
        "react",
        "env"
    ],
    "env": {
        "development": {
            "presets": [
                "react-hmre"
            ]
        }
    }, "plugins": [
        ["import", { "libraryName": "antd-mobile", "style": true }] 
      ]
}